<!-- <section>
  <div class="left">
    <ul>
      <li> {{news.image}}</li>
   <li>{{news.shortheadline}}</li> <li>{{news.category}}{{news.author}}</li> <li>{{news.timestamp}}</li>
 </ul>
  </div>
  <div class="right">

  </div>
</section>
<section>
  <div class="left">

  </div>
  <div class="right">

  </div>
</section> -->
