
    {{#link-to 'news' newsitem.id}}
    <img src={{newsitem.image}}>
    <h2>{{newsitem.shortheadline}}</h2>
    {{/link-to}}
    <p>{{newsitem.category}}</p>
    <hr>
    <div class="author">
      <h4>{{newsitem.author}}</h4>
      <h4>{{newsitem.timestamp}}</h4>
    </div>
