
    {{#link-to 'news' newsitem.id}}<li><img src={{newsitem.image}}></li>
    <li>{{newsitem.shortheadline}}</li>{{/link-to}}
    <li>{{newsitem.category}}</li>
    <li>{{newsitem.author}}</li>
    <li>{{newsitem.timestamp}}</li>
